:root {
  --white-color: #d4d4dc;
  --black-color: #1d1e22;
  --md-grey-color: #393f4d;
  --teal-color: rgba(1, 255, 230, 0.763);

  --marker-font: 'Permanent Marker', cursive;
  --graffiti-font: 'Rock Salt', cursive;
  --sans-serif-font: 'Nato Sans', sans-serif;
}

* {
  margin: 0;
  max-width: 100%;
}

html {
  background: var(--black-color);
  line-height: 1.5rem;
  scroll-behavior: smooth;
}

/* ----------------- SETTING THE VIEWPORT ---------------- */
@viewport {
  width: device-width;
  zoom: 1;
}
@-ms-viewport {
  width: device-width;
}

/* FONT FAMILIES / SIZES: 
font-family: "Permanent Marker", cursive;
    h1 {font-size: 20rem};
font-family: "Rock Salt", cursive;
    h2, h3, h4, h5, h6, a {
        letter-spacing: .75rem;
        color: #d4d4dc; /* NORMAL FONT COLOR 
        color: var(--teal-color); a href color/hover
    }
    
font-family: "Open Sans", sans-serif;
    p {
        color: color: #d4d4dc; /* NORMAL FONT COLOR
    }
SPACING:
    margins: 0;
    padding: 2rem;
    width: 100%;
    height: depends...
*/

/*------------- TYPOGRAPHY ---------------------- */
/*------------- TYPOGRAPHY ---------------------- */
h1 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.75rem;
}

h2,
h4,
h3,
h5,
.subtitle {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 0.75rem;
}

.subtitle {
  padding: 0.25rem;
  margin: 1.25rem auto;
}

.box h3 a,
a {
  font-family: 'Rock Salt', cursive;
  font-size: 1rem;
  color: var(--white-color);
  text-decoration: none;
  letter-spacing: 0.25rem;
  margin-bottom: 25rem;
}

p,
.blurb {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: regular;
  margin: 1rem;
  color: var(--white-color);
  text-align: center;
}

a {
  font-family: 'Rock Salt', cursive;
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/*----- HERO -------*/ /*----- HERO -------*/
/*----- HERO -------*/ /*----- HERO -------*/
.heroWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./images/joy-stage-managing.jpg') no-repeat top;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.heroWrapper::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.heroText {
  color: var(--white-color);
  text-align: left;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-top: 6%;
}
.Joy {
  font-size: 8rem;
  font-family: 'Permanent Marker', cursive;
  padding: 4rem 0 0 4rem;
  color: var(--white-color);
  opacity: 0.65;
  text-align: left;
  position: relative;
  z-index: 11;
}
.defOfJoy {
  font-family: 'Rock Salt', cursive;
  color: var(--white-color);
  font-size: 1.5rem;
  margin: 3rem 0 0 3rem;
  line-height: 3rem;
  opacity: 0.65;
  text-align: left;
  position: relative;
  z-index: 12;
}
.definition {
  font-family: 'Rock Salt', cursive;
  color: var(--white-color);
  font-size: 1.15rem;
  margin: 0.5rem 3rem;
  display: block;
  line-height: 2;
  opacity: 0.65;
  text-align: left;
  position: relative;
  letter-spacing: 0.5rem;
  z-index: 13;
}

/* ------------FOOTER NAV BAR--------------- */
/* ------------FOOTER NAV BAR--------------- */
/* ------------FOOTER NAV BAR--------------- */

nav {
  display: grid;
  grid-template-columns: 4fr 0.25fr 2fr;
  background: var(--black-color);
  color: var(--white-color);
  align-items: center;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 1rem;
  font-family: 'Rock Salt', cursive;
  padding: 0;
  margin: 0;
  z-index: 100;
  opacity: 0.95;
}

.menu {
  margin: 0 1rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-between;
}
.menu a {
  text-decoration: none;
  color: var(--white-color);
  margin: 0 2rem;
  line-height: 4rem;
  font-size: 0.5rem;
}
.menu a:hover {
  cursor: pointer;
  border-top: 3px solid var(--teal-color);
  transition: border-top 0.5s ease;
  color: var(--teal-color);
}
.menu .current {
  background-color: rgba(1, 255, 230, 0.2);
}
.burger {
  margin: 0 30px 0 0;
  font-size: 2rem;
  line-height: 4rem;
  color: transparent;
}
.checkbox {
  display: none;
}
/* .mobile-menu {
            display: block;
        } */

.logo {
  text-align: left;
  font-family: 'Rock Salt', cursive;
  /* font-family: "Permanent Marker", cursive; */
  font-size: 0.5rem;
  margin: 0 0 0 5em;
  letter-spacing: 0.25rem;
}

/* MAIN CONTENT CSS GRIDS */ /* MAIN CONTENT CSS GRIDS */
/* MAIN CONTENT CSS GRIDS */ /* MAIN CONTENT CSS GRIDS */

.portfolio .box {
  max-width: 44%;
  width: 40%;
}
.aboutContactTest {
  grid-area: 'aboutContactTest';
  background: var(--black-color);
}
.midBox {
  background: var(--black-color);
}

.midBox .subtitle {
  text-align: center;
}

.bottomBox {
  background: var(--md-grey-color);
}

.mainGrid {
  /* MAIN DOCUMENT WRAPPER */
  display: block;
  width: 100%;
}

/* PORTFOLIO WRAPPER */ /* PORTFOLIO WRAPPER */ /* PORTFOLIO WRAPPER */
/* PORTFOLIO WRAPPER */ /* PORTFOLIO WRAPPER */ /* PORTFOLIO WRAPPER */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: var(--md-grey-color);
  padding: 2rem 0;
}

.projImg {
  height: 16rem;
  width: 24rem;
  object-fit: cover;
  object-position: top middle;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  margin: 1rem;
  border: 1px var(--black-color) solid;
  height: 600px;
  width: 100%;
  transition: border-top 0.5s ease;
  color: var(--teal-color);
}

.portfolio p,
.portfolio a,
.portfolio h5 {
  width: 100%;
  height: auto;
  margin: 0.5rem;
  padding: 0.5rem;
}

.portfolio a,
.about a,
.portfolio h5 {
  color: inherit;
  text-decoration: none;
  font-family: 'Nato Sans', sans-serif;
  text-align: center;
}

.techUsed {
  color: inherit;
  letter-spacing: 2px;
  font-family: 'Nato Sans', sans-serif;
  text-align: center;
}

/* UPDATED PORTOLIO SECTION 03/16/2023 */
.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  background: var(--md-grey-color);
  color: var(--white-color);
}

.project-box {
  width: 42%;
  text-align: left;
  padding: 2.5rem;
  border: 1px solid var(--black-color);
  margin: 1.5rem auto;
}

.project-box h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.project-box figure {
  width: 80%;
  margin: 0.5rem auto;
}

.project-box figure a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.project-box figcaption {
  font-family: var(--sans-serif-font);
  margin: 1.5rem auto;
}

.project-box h4 {
  text-align: center;
  color: var(--teal-color);
}

.project-box a:hover,
.project-box a:focus {
  color: var(--teal-color);
}

.project-box .portLink {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1.5rem auto 0;
}

/*----------------- SECOND MAIN SECTION: ABOUT ------------------ */
/*----------------- SECOND MAIN SECTION: ABOUT ------------------ */

/* BOTTOM HALF WRAPPER */
#skills,
#about,
#quoteBox,
#contact {
  height: auto;
}
.aboutContactTest {
  display: grid;
  width: 100%;
  grid-gap: 2em;
  grid-template-areas:
    'about'
    'skills'
    'quoteBox'
    'contact';
  /* margin: 0 0 4em; */
  height: auto;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px var(--md-grey-color) solid;
  transition: border-top 0.5s ease;
  padding: 2em;
  margin: 2em;
  color: var(--teal-color);
}

/* ABOUT SECTION */ /* ABOUT SECTION */ /* ABOUT SECTION */
.skillsListWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1;
}

.skillsListContainer {
  width: 50%;
}

.skillsListContainer h2 {
  text-align: center;
}

#about p,
.skillsList p {
  padding: 0 8rem;
  line-height: 1.8;
  font-size: 1.15rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social a,
.portLink a {
  color: var(--white-color);
  font-size: 1.5rem;
  font-family: 'Rock Salt', cursive;
  text-decoration: none;
  margin: 0 2rem;
  transition: all 0.5s ease-in-out;
}

.social a span,
.portLink a span {
  font-size: 1rem;
}

.social a:hover,
.portLink a:hover {
  color: var(--teal-color);
}

.skillsList {
  font-family: 'Open Sans', sans-serif;
  color: var(--white-color);
  line-height: 1.8;
  padding: 0.5rem 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 1rem 15%;
  max-width: 100%;
}

.skillsList li {
  width: 28%;
  margin: 0.25rem 1.5rem 0.25rem 0.5rem;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.skillsListContainer.other {
  width: 100%;
}

.skillsListContainer.other .skillsList {
  margin: 0 auto 1rem 20%;
}

/* ---------------SLIDESHOW / CAROUSEL---------- */
/* ---------------SLIDESHOW / CAROUSEL---------- */
/* ---------------SLIDESHOW / CAROUSEL---------- */

/* CONTAINER */
.carouselWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-position: cover;
  /* max-width: 50rem; */
}
.mySlides img {
  width: auto;
  height: 20rem;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.fade {
  display: none;
}

#skills {
  display: flex;
  flex-direction: column;
}

/* HIDE THE IMAGES BY DEFAULT */
.myslides,
.arrows {
  display: none;
}

.slideText,
.numbertext {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--white-color);
  font-size: 1rem;
}

/* DOTS AND BULLETS INDICATORS */
.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 1rem 1rem;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--teal-color);
}
.dot:hover {
  background-color: teal;
}

/* FADING ANIMATION */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*----------- TESTIMONIALS / QUOTES------- */
/*----------- TESTIMONIALS / QUOTES------- */

#quoteBox > section {
  position: absolute;
  /* padding: 2rem; */
}
.bottomBox {
  display: flex;
  flex-direction: column;
}
.bottom {
  flex: 1;
  height: 35rem;
}
#quoteBox p {
  padding: 0 6rem;
  font-size: 2.5rem;
  line-height: 3rem;
}
#quoteBox h4 {
  font-size: 1rem;
  padding: 0 8rem;
}
#quoteBox h2 {
  padding-bottom: 30rem;
}
.ref {
  text-align: right;
  height: 2em;
  padding-top: 3.5rem;
}
.bottom {
  border: 1px solid var(--black-color);
}

.disclaimer {
  font-size: 10px;
}

/* MEDIA QUERIES / RESPOSINVE STYLES */
/* MEDIA QUERIES / RESPOSINVE STYLES */
@media screen and (max-width: 1024px) {
  .portfolio .box {
    max-width: 45%;
    width: 39%;
  }

  .skillsListContainer.other .skillsList {
    margin: 0 auto 1rem 30%;
  }
}

@media screen and (max-width: 800px) {
  /* TYPOGRAPHY */

  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  .subtitle {
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }

  p,
  .blurb {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  br {
    display: none;
  }

  /* ---HEADER IMAGE--- */
  .heroWrapper {
    position: relative;
    width: auto;
    height: auto;
    background: url('./images/joy-stage-managing.jpg') no-repeat top;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .heroWrapper::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
  }

  h1 {
    display: block;
    line-height: 2.5rem;
  }

  .heroText {
    padding-top: 25%;
  }

  .Joy {
    font-size: 8rem;
    padding: 3rem 0 0 3rem;
  }

  .defOfJoy {
    font-size: 1.5rem;
    margin: 3rem 0 0 2rem;
    line-height: 1.6;
  }
  .definition {
    line-height: 1.8;
    font-size: 1rem;
    margin: 2rem;
    text-align: left;
  }

  /* --- MOBILE NAVBAR / BURGER TOGGLE--- */
  label {
    display: block;
    margin: 0 2rem;
  }

  #toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
    justify-content: justify;
  }

  .menu {
    text-align: center;
    width: 100%;
    z-index: 1;
    margin: 0 0 28rem 0;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(1, 255, 230, 0.2);
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    display: none; /*should appear upon burger click*/
  }

  .menu a {
    margin: 0;
  }

  .burger {
    color: var(--white-color);
    font-size: 2.5rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .burger:hover,
  .menu a:hover {
    cursor: pointer;
    color: var(--teal-color);
    transition: color 0.5s ease;
    border-top: none;
  }

  .logo {
    font-size: 0.5em;
    margin: 0 4em;
  }

  /* MAKE ALL SIDE BY SIDE SECTIONS STACK ON TOP OF EACH OTHER FLEX/GRID */

  /* PORTFOLIO / SECTION 1 */
  .portfolio {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .blurb {
    font-family: 'Open Sans', sans-serif;
    color: var(--white-color);
    margin: 1rem;
  }

  .portfolio .box {
    max-width: 75%;
    width: 100%;
  }
  /* ABOUT - SKILLS - QUOTES - CONTACT / SECTION 2 */
  .aboutContactTest {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  #about p,
  .skillsList p {
    padding: 0 0.25rem;
    font-size: 1.15rem;
    line-height: 1.6;
  }
  .social a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--white-color);
    margin: 0;
  }
  .social a:hover {
    cursor: pointer;
    color: var(--teal-color);
  }

  .skillsList {
    padding: 1rem 0;
  }

  .skillsList li {
    width: 36%;
    margin-right: 1.5rem;
  }

  /* CAROUSEL IMAGES */
  .mySlides img {
    max-height: 10rem;
    width: auto;
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }

  /* TESTIMONIALS RESPONSIVE */
  #quoteBox {
    height: 50rem;
  }
  #quoteBox h2 {
    font-size: 0.75rem;
    padding-bottom: 45rem;
  }

  #quoteBox p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #quoteBox h4 {
    font-size: 0.25rem;
  }

  /* CONTACT FORM SUBMISSION */
  .formGrid {
    display: grid;
    width: 100%;
    grid-template-areas:
      'name'
      'emailUser'
      'comment'
      'submit';
    grid-gap: 0.25rem;
    padding: 0.25rem;
    display: -ms-grid; /* IE 10 */
  }

  .social {
    flex-direction: column;
  }

  .social a {
    margin: 0.5rem auto;
  }
}

@media screen and (max-width: 650px) {
  .skillsListContainer.frontend,
  .skillsListContainer.backend,
  .skillsListContainer.other {
    width: 95%;
  }

  .skillsListContainer.other .skillsList {
    margin: 0 auto 1rem 15%;
  }
}
