* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}
/* -------- TYPOGRAPHY --------- */
/*------------- TYPOGRAPHY ---------------------- */
h1, h2, h3, h4 {
    font-family: "Rock Salt", cursive;
    letter-spacing: .5rem;
    /* font-family: "Permanent Marker", cursive; */
}

p, ul, li {
    font-family: "Noto Sans", sans-serif;
    text-transform: none;
};

a {
    font-family: "Rock Salt", cursive;
    /* font-family: "Permanent Marker", cursive; */
    text-decoration: none;
    color: inherit;
    transition: all .5s ease-in-out;
}

/* ---------- HERO IMAGE -------------- */
h1 {
    background: url("https://i.imgur.com/k5aEq1W.png") no-repeat top;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 4rem;
    text-align: left;
    max-width: 100%;
    height: 95vh;
    margin: 0;
    padding: 5rem 5rem;
    /* font-family: "Noto Sans", sans-serif;
    font-family: "Rock Salt", cursive; */
    /* font-family: "Rock Salt", cursive; */
    font-weight: 400;
}
.Joy {
    font-size: 30rem;
    font-family: "Permanent Marker", cursive;
    /* font-family: "Rock Salt", cursive; */
}
.defOfJoy {
    /* font-family: "Noto Sans", sans-serif; */
    font-family: "Rock Salt", cursive;
    color: white;
    font-weight: 700;
    font-size: 8rem;
    margin: -2rem 0;
    line-height: 8rem; 
}
.definition {
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-size: 6rem;
    margin: -6em 0;
}

a:hover {
    color:  rgba(1, 255, 230, 0.763);
    border-bottom:  rgba(1, 255, 230, 0.763);
}

/* ----------------- SETTING THE VIEWPORT ---------------- */
@viewport {
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport {
    width: device-width;
}


/* FOOTER */

/* ------------FOOTER NAV BAR--------------- */
/* ------------FOOTER NAV BAR--------------- */ 
/* ------------FOOTER NAV BAR--------------- */

nav {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: black;
    color: white;
    align-items: center;
    height: 5rem;
    padding: 0 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* font-family: "Rock Salt", cursive; */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Rock Salt", cursive;
    /* font-family: "Permanent Marker", cursive; */
}

.logo {
    text-align: left;
    font-family: "Rock Salt", cursive;
    /* font-family: "Permanent Marker", cursive; */
    font-weight: 400;
    font-size: .75rem;
    margin-left: 1rem;
    line-spacing: 0;
}

.menu {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#burger {
    display: none;
    font-size: 5rem;
    text-align: right;
    color: white;
}
#burger:hover, nav a:hover {
    cursor: pointer;
    color: rgba(1, 255, 230, 0.763);
}

.mobile-menu {
    display: none;
}


/* ---------------SLIDESHOW / CAROUSEL---------- */
/* ---------------SLIDESHOW / CAROUSEL---------- */
/* ---------------SLIDESHOW / CAROUSEL---------- */

.myslides {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

}
.mySlides img {
    width: 100%;
    height: auto;
}
/*
 /* CONTAINER */
 .carouselWrap {
    position: relative;
    /* overflow: hidden; */
    background-position: cover;
    overflow: hidden;
    height: auto;
    width: 100%;
 }

 /* HIDE THE IMAGES BY DEFAULT */
 /* .myslides {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: none;
 } */

/* CAPTION TEXT */
.slideText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    font-size: 2em;
    padding: 1em 2em;
    position: absolute;
    bottom: 3em;
    width: 100%;
    text-align: center;
}

/* NUMBER TEXT (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 3em;
    left: 3em;
}

 /* DOTS AND BULLETS INDICATORS */
 .dot {
     cursor: pointer;
     height: 1em;
     width: 1em;
     margin: 2em 2em;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
 }

 .active, .dot:hover {
     background-color: rgba(1, 255, 230, 0.763);
 }

 /* FADING ANIMATION */
 .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
 }

 @-webkit-keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
 }

 @keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
 }



/* MEDIA QUERIES / RESPOSINVE STYLES */
@media (max-width: 991px) {
    header {
        .Joy {
            font-size: 15rem;
            font-family: "Permanent Marker", cursive;
            /* font-family: "Rock Salt", cursive; */
        }
        .defOfJoy {
            /* font-family: "Noto Sans", sans-serif; */
            font-family: "Rock Salt", cursive;
            color: white;
            font-weight: 700;
            font-size: 4rem;
            margin: -2rem 0;
            line-height: 8rem; 
        }
        .definition {
            font-family: "Noto Sans", sans-serif;
            color: white;
            font-weight: 400;
            margin: -6em 0;
    }
    footer {
        padding: 0 20px;
    }
    footer nav {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: black;
        bottom: 50px;
        right: -100%;
        transition: 0.5s;
    }
    /* header nav .active */
   
    header nav a {
        border-bottom: rgba(1, 255, 230, 0.763);
    }
    #burger {
        display: block;
        color: white;
    }
    #burger:hover {
        color: rgba(1, 255, 230, 0.763);
        border-bottom: rgba(1, 255, 230, 0.763);
    }
    .mobile-menu {
        display: flex;
        justify-content: flex-end;
    }    
    .mobile-menu a:hover{
        color: rgba(1, 255, 230, 0.763);
        border-bottom: rgba(1, 255, 230, 0.763);
    }
    .menu {
      justify-content: flex-end;
      display: none;
    }
    
    .menu a {
      display: none;
    }
}