/* ----------------- RESET THE DEFAULT PADDING/MARGINS ---------------- */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    letter-spacing: .02em;
    text-align: center;
    color: navy;
}

/* ----------------- SETTING THE VIEWPORT ---------------- */
@viewport {
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport {
    width: device-width;
}
.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
}
.portfolio {
    align-self: center;
    justify-self: center;
}

/* ----------------- RESPONSIVE IMAGES ---------------- */
img {
    max-width: 100%;
}

/*------------- TYPOGRAPHY ---------------------- */
p {
    font-family: "Open Sans", sans-serif;
    text-transform: none;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(126, 166, 168);
    font-weight: 600;
    transition: all .5s ease-in-out;
}

a:hover {
    color: red;
}

/*----- OVERALL DESIGN -------*/ /*----- OVERALL DESIGN -------*/
h1, h2, h3, h4 {
    font-family: 'Arvo', serif;
};
p, a, ul, li {
    font-family: 'Open Sans Condensed', sans-serif;
};


/*----- LAYOUT -------*/  /*----- LAYOUT -------*/

/*----- PORTFOLIO -------*/
/*----- PORTFOLIO -------*/
/*----- PORTFOLIO -------*/
* {
    margin: 0;
    padding: 0;
  }
  /* PORTFOLIO WRAPPER */
  #proj0 { grid-area: "proj0"; background: lightblue }
  /* .zeroLink {grid-area: "zeroLink";}
  .zeroGit {grid-area: "zeroGit";} */
  #proj1 { grid-area: "proj1"; background: lightpink }
  /* .oneLink {grid-area: "oneLink";}
  .oneGit {grid-area: "oneGit";} */
  #proj2 { grid-area: "proj2"; background: lightyellow}
  /* .twoLink {grid-area: "twoLink";}
  .twoGit {grid-area: "twoGit";} */
  #proj3 { grid-area: "proj3"; background: lightgreen }
  /* .threeLink {grid-area: "threeLink";}
  .threeGit {grid-area: "threeGit";} */
  
  img, h3, h5, a {
    margin: 1em;  
    width: 50em;
    text-align: center;
    padding: .5em;
  }
  p {
      text-align: justify;
      width: 50em;
  }
  
  
  
  .portfolio {
    padding: 10px;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 2em;
    grid-template-areas:
      "proj0 proj1"
      "proj2 proj3";
    align-items: center;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 2em;
  }
  
/*----- ??? -------*/  /*----- ??? -------*/


/* ********************* BOTTOM NAV BAR ************************/

#footerBar {
    display: block;
    font-weight: 600;
    width: 100%;
    height: 3em;
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(126, 166, 168);
    /* --FLEX NAV BAR 
    display: flex;
    justify-content: space-around;
    position: sticky;
    position: -webkit-sticky;
    -- */
    position: fixed;
    padding: 1em;
    top: 0;
    left: 0;
    cursor: pointer;
    text-align: center;
}
.deskNav a {
    margin: 0 6em;
}
.fas, .mobile-menu, .mobile-header {
    display: none;




/* Place the navbar at the bottom of the page, and make it stick */
#footerBar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
}

/* Style the links inside the navigation bar */
#footerBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
#footerBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#footerBar a.active {
    background-color: red;
    color: white;
}

